/* You can add global styles to this file, and also import other style files */
:root {
    --bg: black;
    --view-bg: #161319;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--bg);
    margin: 0;
    padding: 0;
}